學習分析工具實務應用113-1  09/19

hello world

print


print[]


if else


for


i[]


try except


ramge

In [2]:
print('hello world')

hello world

In [9]:
a = 10
b = a
c = a*b
print(a)
print(c)
print(a*b*c)
a = 2
print(a)
a = """痾654165151655615"""
print(a)

10
100
10000
2
痾654165151655615

In [11]:
a = '0123456789abcdef'
print(a[0])
print(a[2:8:3])
print(a[:7:3])
print(a[7:-2])
print(a[:-8:2])

0
25
036
789abcd
0246

In [18]:
a = 'hello world 痾痾痾ㄟㄟㄟ?!?!'
b = a.split('，')
c = a.split(' ')
d = a.split()
print(a)
print(b)
print(c)
print(d)

hello world 痾痾痾ㄟㄟㄟ?!?!
['hello world 痾痾痾ㄟㄟㄟ?!?!']
['hello', 'world', '痾痾痾ㄟㄟㄟ?!?!']
['hello', 'world', '痾痾痾ㄟㄟㄟ?!?!']

In [20]:
a = ['apple','banana','orange']
b = [1,2,3,4,5]
c = ['apple',1,2.3,['dog','cat']]
d = list('apple')
print(a,b,c,d)

['apple', 'banana', 'orange'] [1, 2, 3, 4, 5] ['apple', 1, 2.3, ['dog', 'cat']] ['a', 'p', 'p', 'l', 'e']

In [24]:
t = ('g','gg','ggg','gggg')
a , b, c, d = t
print(a,b,c,d)
print(t[0],t[1],t[2],t[3])
q1 = ('g','gg','ggg')
q2 = ('r','rr')
q = q1 + q2
print(q)

g gg ggg gggg
g gg ggg gggg
('g', 'gg', 'ggg', 'r', 'rr')

In [27]:
a = dict(name='oxxo',age=18,eat=['apple','banana'])
print(a)
print(type(a))

{'name': 'oxxo', 'age': 18, 'eat': ['apple', 'banana']}
<class 'dict'>

In [28]:
a = set()
b = set([1,2,3,4,5,1,2,3,4,5,])
print(a,b)

set() {1, 2, 3, 4, 5}

In [35]:
a = 2
b = 3
if a > b:
  print('nice')
else : print('bad')

bad

In [41]:
a = 2
b = 3
if a<b:
  print('a<b')
  if a==1:
    print('a=1')
  elif a==2:
    print('a=2')
  elif a==3:
    print('a=3')
elif a>b:
  print('a>b')
  if a==4:
    print('a=4')
  elif a>=5:
    print('a>=5')

a<b
a=2

In [40]:
a = 2
b = 3
c = 0
if a>b or a<c and a==2 or b==4:
  print('ok1')
else:
 print('XXX')

XXX

In [42]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [44]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [45]:
i = []
for t in range(10):
  t+=1
  i.append(t)
i
print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

下面這塊沒啥用

In [65]:

try:
  a = input('輸入數字:')
  print('hello')
except:
  pass
print('pass')

輸入數字:3
hello
pass

In [51]:
a = []
for i in range(1,10):
  a.append(i*i)
print(a)

b = [j*j for j in range(1,10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]